.specials
	.specials__block.is--set-1
		article.specials__item.is--type-1(style="background-image: url('../images/specials/s-1.png')")
			.specials__content
				h3.specials__title
					span Коллекция
					| limited edition
				p.specials__text
					| Самый легкий чемодан из коллекции Curson от Samsonite, Lite-Shock сочетает в себе минимальный вес с максимальной ударопрочностью. Его органическая форма усилена и предназначена для поглощения ударов.
				a(href="").specials__readmore
					| Подробнее
	.specials__block.is--set-2
		article.specials__item.is--type-2(style="background-image: url('../images/specials/s-2.png')")
			.specials__content
				h3.specials__title
					span Чемоданы
					| cabin size
				a(href="").specials__readmore
					| Подробнее
				
		article.specials__item.is--type-3(style="background-image: url('../images/specials/s-3.png')")
			.specials__content
				h3.specials__title
					span Коллекция
					| cross collection
				p.specials__text
					| Самый легкий чемодан из коллекции Curson от Samsonite, Lite-Shock сочетает в себе минимальный вес с максимальной ударопрочностью. Его органическая форма усилена и предназначена для поглощения ударов.
				a(href="").specials__readmore
					| Подробнее
				
		article.specials__item.is--type-3(style="background-image: url('../images/specials/s-4.png')")
			.specials__content
				h3.specials__title
					span Подборка чемоданов
					| все товары
				p.specials__text
					| Самый легкий чемодан из коллекции Curson от Samsonite, Lite-Shock сочетает в себе минимальный вес с максимальной ударопрочностью. Его органическая форма усилена и предназначена для поглощения ударов.
				a(href="").specials__readmore
					| Подробнее
				
		article.specials__item.is--type-4(style="background-image: url('../images/specials/s-5.png')")
			.specials__content
				h3.specials__title
					span Не упусти у нас
					| разпродажа