-
	var products = [{
		title: 'Samsonite',
		model: 'V22*305',
		brand: 'Cosmolite 3.0 ',
		price: '17 559',
		oldPrice: '',
		props: ['94.0 л','2.60 кг','51  x 75 x  31'],
		desc: 'Чемодан на колёсах 69 см',
		colors: [1,2,3,4,5,6,7],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: 'V22*522',
		brand: 'Cosmolite 3.0 ',
		price: '12 995',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 55 см',
		colors: [1],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: '86V*103',
		brand: 'Lite-Shock',
		price: '14 785 ',
		oldPrice: '',
		props: ['38.0 л','2.40 кг','40 x 55 x 23'],
		desc: 'Чемодан на 2х колёсах 55 см',
		colors: [1,2],
		tag: '',
		tagType: ''
	},
	{
		title: 'American Tourister',
		model: '18G*102',
		brand: 'Air force 1',
		price: '4 375',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 69 см.',
		colors: [1,2,3],
		tag: '',
		tagType: ''
	},
	{
		title: 'American Tourister',
		model: '37G*003',
		brand: 'TECHNUM',
		price: '5 009',
		oldPrice: '',
		props: ['108/127.5 л','4 кг','51 x 77 x  30/35'],
		desc: 'Чемодан 77 см с расширением',
		colors: [1,2],
		tag: '',
		tagType: ''
	},
	{
		title: 'American Tourister',
		model: '34G*003',
		brand: 'Tracklite',
		price: '3 245',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан 78 см. с расширением',
		colors: [1,2,3],
		tag: '',
		tagType: ''
	},
	{
		title: 'American Tourister',
		model: '37G*002',
		brand: 'TECHNUM',
		price: '4 589',
		oldPrice: '',
		props: ['73/84.5 л','2.60 кг','46 x 66 x 27/32'],
		desc: 'Чемодан 66 см. с расширением',
		colors: [1,2,3,4],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: 'CB0*004',
		brand: 'FLUX',
		price: '8 065',
		oldPrice: '',
		props: ['130/145 л','4.70 кг','55 x 81 x 36/40'],
		desc: 'Чемодан 81 см. с расширением',
		colors: [1,2,3,4,5],
		tag: 'Новинка',
		tagType: 'is--new'
	},
	{
		title: 'Samsonite',
		model: '86V*103',
		brand: 'Lite-Shock',
		price: '14 785',
		oldPrice: '14 785',
		props: ['38.0 л','2.40 кг','40 x 55 x 23'],
		desc: 'Чемодан на 2х колёсах 55 см',
		colors: [1,2],
		tag: 'Акция',
		tagType: 'is--stock'
	},
	{
		title: 'Samsonite',
		model: '82V*004',
		brand: 'Lite-Cube DLX',
		price: '20 519',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 76 см.',
		colors: [1,2,3,4],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: 'V22*305',
		brand: 'Cosmolite 3.0',
		price: '17 559',
		oldPrice: '',
		props: ['94.0 л','2.60 кг','51 x 75 x  31'],
		desc: 'Чемодан на колёсах 69 см',
		colors: [1,2,3,4,5,6,7],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: '33V*007',
		brand: 'Lite-Cube',
		price: '19 110',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 82 см.',
		colors: [1,2,3],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: '82V*003',
		brand: 'Lite-Cube DLX',
		price: '',
		oldPrice: '',
		props: ['67.5 л','2.90 кг','45 x 68 x 28.5'],
		desc: 'Чемодан на колёсах 68 см.',
		colors: [1,2,3,4],
		tag: '',
		tagType: ''
	},
	{
		title: 'American Tourister',
		model: '31C*008',
		brand: 'Wavebreaker Marvel',
		price: '4 445',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 77 см.',
		colors: [1],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: '01V*002',
		brand: 'Lite-Locked',
		price: '18 105',
		oldPrice: '',
		props: ['94.0 л','2.60 кг','51 x 75 x  31'],
		desc: 'Чемодан на четырех колесах 75 см.',
		colors: [1,2,3,4],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: '44D*001',
		brand: 'Neopulse',
		price: '8 779',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 82 см.',
		colors: [1,2,3,4,5,6,7],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: '98V*002',
		brand: 'Lite-Shock',
		price: '15 139',
		oldPrice: '',
		props: ['67.5 л','2.90 кг','45 x 68 x 28.5'],
		desc: 'Чемодан на колёсах 68 см.',
		colors: [1,2,3,4],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: '44D*004',
		brand: 'Neopulse',
		price: '11 469',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 69 см.',
		colors: [1,2,3,4],
		tag: '',
		tagType: ''
	}]