-
	var products = [{
		title: 'Samsonite',
		model: 'V22*305',
		brand: 'Cosmolite 3.0 ',
		price: '17 559',
		oldPrice: '',
		props: ['94.0 л','2.60 кг','51  x 75 x  31'],
		desc: 'Чемодан на колёсах 69 см',
		colors: ['#9bb5bc','#d2bfb7','#3d4661','#c38c73','#96908e','#8a2826','#363431'], 
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: 'V22*522',
		brand: 'Cosmolite 3.0 ',
		price: '12 995',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 55 см',
		colors: ['#9bb5bc'],
		tag: '',
		tagType: ''
	},
	{
		title: 'Samsonite',
		model: '86V*103',
		brand: 'Lite-Shock',
		price: '14 785 ',
		oldPrice: '',
		props: ['38.0 л','2.40 кг','40 x 55 x 23'],
		desc: 'Чемодан на 2х колёсах 55 см',
		colors: ['#9bb5bc','#d2bfb7'],
		tag: '',
		tagType: ''
	},
	{
		title: 'American Tourister',
		model: '18G*102',
		brand: 'Air force 1',
		price: '4 375',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан на колёсах 69 см.',
		colors: ['#9bb5bc','#d2bfb7','#3d4661'],
		tag: '',
		tagType: ''
	},
	{
		title: 'American Tourister',
		model: '37G*003',
		brand: 'TECHNUM',
		price: '5 009',
		oldPrice: '',
		props: ['108/127.5 л','4 кг','51 x 77 x  30/35'],
		desc: 'Чемодан 77 см с расширением',
		colors: ['#9bb5bc','#d2bfb7'],
		tag: '',
		tagType: ''
	},
	{
		title: 'American Tourister',
		model: '34G*003',
		brand: 'Tracklite',
		price: '3 245',
		oldPrice: '',
		props: ['36.0 л','1.70 кг','40 x 55 x 20'],
		desc: 'Чемодан 78 см. с расширением',
		colors: ['#9bb5bc','#d2bfb7','#3d4661'],
		tag: '',
		tagType: ''
	}];