/**
 *
 * buttons
 *
 **/
.btn{
	padding: 12px 31px;
	border: none;
	line-height: 20px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $color__primary;
	color: #fffefe;
	transition: all 300ms linear;
	&:focus,
	&:hover{
		border: none;
	}
}
.btn--primary{
	&:hover{
		color: #ffffff;
	}
}
.btn--secondary{
	min-width: 300px;
	padding: 18px 30px;
	background: transparent;
	border: 2px solid $color__primary;
	font-weight: 700;
	text-align: center;
	color: $color__primary;
	&:hover{
		border: 2px solid $color__primary;
		background: $color__primary;
		color: #ffffff;
	}
}