// FOOTER
footer.footer
  .footer__inner
    .footer__menu
      nav.menu
        ul.menu__list
          -var links = [{url:'about.html', title:'О нас'}, {url:'category.html', title:'Каталог'}, {url:'lookbook.html', title:'Лукбук'}]
          each link in links
            li.menu__item
              a(href=link.url).menu__link= link.title
    .footer__menu
      nav.menu
        ul.menu__list
          -var titles = ['Доставка', 'Качество', 'Сервис']
          each title in titles
            li.menu__item
              a(href="").menu__link= title
    .footer__logo
      a(href="").logo
        img(src="images/logo-small.png", alt="").logo__img
    .footer__menu
      nav.menu
          -var links = [{url:'shops.html', title:'Магазины'}, {url:'contacts.html', title:'Контакты'}, {url:'partners.html', title:'Сотрудничество'}]
          each link in links
            li.menu__item
              a(href=link.url).menu__link= link.title
    .footer__menu
      nav.menu
          -var titles = ['Магазины', 'Контакты', 'Сотрудничество']
          each title in titles
            li.menu__item
              a(href="").menu__link= title
// /FOOTER