.footer{
	padding: 60px 0 80px;
	background: #ffffff;
	@include media('<960px'){
		padding: 40px 0;
	}
}
.footer__inner{
	display: flex;
	flex-wrap: wrap;
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
	justify-content: space-between;
	align-items: flex-start;
	@include media('<960px'){
		justify-content: center;
	}
}
.footer__menu{
	@include media('<960px'){
		display: none;
	}
}
.footer__social{
	display: none;
	@include media('<960px'){
		display: flex;
		justify-content: center;
		width: 100%;
	}
}
.footer__logo{
	display: flex;
	align-self: center;
	@include media('<960px'){
		width: 100%;
		justify-content: center;
		margin-bottom: 20px;
	}
}