.header{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 43px;
	background: #ffffff;
	@include media('<1460px'){
		padding-right: 30px;
	}
}
.header__menu{
	margin-left: 30px;
	@include media('<1060px'){
		margin-left: 15px;
	}
	@include media('<480px'){
    margin-left: 0;
	}
}
.header__logo{
	max-width: 310px;
	width: percentage(310/1920);

	@include media('<1260px'){
		width: 100%;
		max-width: 36px;
	}
	@include media('<1060px'){
		margin-right: auto;
		margin-left: 30px;
	}
	@include media('<480px'){
    margin-left: 15px;
	}
}
.header__categories{
	max-width: 980px;
	width: percentage(980/1920);
	@include media('<1260px'){
		width: percentage(1200/1920);
	}
	@include media('<1060px'){
		display: none;
	}
}
.header__icons{
	max-width: 200px;
	width: percentage(200/1920);
	@include media('<1260px'){
		width: percentage(300/1920);
	}
	@include media('<1060px'){
		width: percentage(600/1920);
	}
	@include media('<860px'){
		width: percentage(1/2);
	}
}