.header{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 43px;
	background: #ffffff;
}
.header__menu{}
.header__logo{}
.header__categories{}
.header__icons{}