.page{
	&.page--checkout{
		background: #fff;
	}
	&.page--cart{
		@include media('<768px'){
			.section--recommend{
				display: none;
			}
		}
	}
	&.page--product{
		@include media('<992px'){
			.product-single{
				margin-top: 40px;
			}
		}
		@include media('<840px'){
			.section--recommend{
				display: none;
			}
		}
	}
}
.page__inner{
	display: flex;
	// flex-direction: row-reverse;
	flex-wrap: wrap;
	max-width: 1680px;
	min-height: 60vh;
	margin: 0 auto;
	padding-bottom: 100px;
	justify-content: space-between;
	.page--personal-change-password &,
	.page--personal-data &{
		flex-direction: row-reverse;
		@include media('<1600px'){
			flex-direction: column-reverse;
		}
	}
}
.page__header{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.page__title{
	margin: 0 0 50px;
	font-size: 37px;
	line-height: 40px;
	font-weight: 800;
	text-transform: uppercase;
	color: $color__primary;
	letter-spacing: 0.71px;
  @include media('<640px'){
		margin: 0 0 25px;
		font-size: 28px;
		line-height: 30px;
  }
}
.page__content{
	flex-grow: 1;
}
.page__sidebar{
	padding-top: 100px;
	margin-right: 65px;
	flex-basis: 320px;
	flex-shrink: 0;
	@include media('<1600px'){
		padding: 0;
		margin: 0 0 20px;
		flex-basis: 100%;
	}
}
.page__breadcrumbs{}
.page__text{
	margin-bottom: 25px;
}
.page__sort{}
.page__body{
	padding: 55px 110px;
	background-color: #ffffff;
	@include media('<1200px'){
		padding: 40px 60px;
	}
	@include media('<700px'){
		padding: 20px;
	}
	@include media('<480px'){
		padding: 20px 10px;
	}
}
.page__action{
	display: flex;
	justify-content: flex-end;
	padding: 50px 0 100px;
}