nav.breadcrumbs
	-var current = "";
	ul.breadcrumbs__list
		each item, i in breadcrumbs
			-if (i ===  breadcrumbs.length - 1) { current = " is--current" }
				li(class="breadcrumbs__item"+current)
					a(href="").breadcrumbs__link= item