.category-special
  .category-special__inner(style="background-image:url(./images/special.png)")
    .category-special__brand
      img(src="images/brand.png", alt="")
    .category-special__header
      .category-special__header-text
        | Новая коллекция
      .category-special__header-title
        | limited edition
    .category-special__text
      | Самый легкий чемодан из коллекции Curson от Samsonite, Lite-Shock сочетает в себе минимальный вес с максимальной ударопрочностью. Его органическая форма усилена и предназначена для поглощения ударов.
    a(href="").category-special__action
      | Следующая страница
