nav.categories-groups
	ul.categories-groups__list
		li.categories-groups__list-item
			a(href="").categories-groups__list-link Чемоданы
			.categories-groups__icon: i.icon--arrow-up
			ul.categories-groups__sublist
				li.categories-groups__list-item
					a(href="").categories-groups__sublist-link Пластиковые
				li.categories-groups__list-item
					a(href="").categories-groups__sublist-link Тканевые
				li.categories-groups__list-item
					a(href="").categories-groups__sublist-link Чемоданы а 4х колесах
				li.categories-groups__list-item
					a(href="").categories-groups__sublist-link Чемоданы на 2х колесах
				li.categories-groups__list-item
					a(href="").categories-groups__sublist-link Чемоданы для детей
		li.categories-groups__list-item
			a(href="").categories-groups__list-link Рюкзаки
		li.categories-groups__list-item
			a(href="").categories-groups__list-link Бизнес
		li.categories-groups__list-item
			a(href="").categories-groups__list-link Кожгалантерея
		li.categories-groups__list-item
			a(href="").categories-groups__list-link Дорожные аксессуары
		li.categories-groups__list-item
			a(href="").categories-groups__list-link Сross collection
		li.categories-groups__list-item
			a(href="").categories-groups__list-link Сabin size
		li.categories-groups__list-item
			a(href="").categories-groups__list-link Разпродажа
