.pagination
	a(href='#1').pagination__item.is--prev
		i.icon--arrow-left
	a(href='#1').pagination__item 1
	span.pagination__item.is--active 2
	a(href='#3').pagination__item 3
	a(href='#4').pagination__item 4
	a(href='#5').pagination__item 5
	span.pagination__item.is--ellipsis &hellip;
	a(href='#10').pagination__item 10
	a(href='#10').pagination__item.is--next
		i.icon--arrow-right