.recommend-news
	.recommend-news__inner
		.recommend-news__content
			article.recommend-news__details
				h3.recommend-news__title
					| Качество Samsonite - методики тестирования
				p.recommend-news__text
					| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
				a(href="").recommend-news__readmore
					| читать дальше
			.recommend-news__photo(style="background-image:url('images/recommend-news.jpg')")
		.recommend-news__action
			a(href="").recommend-news__prev
				i.icon.icon--arrow-left
				span Есть чем гордитья
			a(href="").recommend-news__next
				span Выбор года 2016
				i.icon.icon--arrow-right