.cart{}
.cart__inner{}
.cart__header{
	display: flex;
	justify-content: space-around;
	padding: 28px;
	@include media('<1660px'){
		display: none;
	}
}
.cart__header-item{
	font-size: 14px;
	font-weight: 800;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #38373a;
	&.is--photo{
		flex-basis: 320px;
	}
	&.is--title{
		flex-basis: 400px;
		text-align: left;
	}
	&.is--qty{
		flex-basis: 250px;
	}
	&.is--price{
		flex-basis: 200px;
	}
	&.is--total{
		flex-basis: 300px;
	}
}

.cart__product{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 50px;
	padding: 30px;
	background: #fff;
	transition: all 300ms linear;
	@include media('<1200px'){
		margin-bottom: 30px;
	}
	@include media('<768px'){
		padding: 15px;
		margin-bottom: 20px;
	}
}
.cart__product-photo{
	display: block;
	flex-basis: 300px;
	height: 180px;
	background-color: #fff;
	text-align: center;
	@include media('<1200px'){
		flex-basis: 200px;
	}
	@include media('<768px'){
		flex-basis: 140px;
	}
	@include media('<640px'){
		flex-basis: 120px;
	}
	@include media('<480px'){
		flex-basis: 90px;
	}
	img{
		max-width: 120px;
		max-height: 100%;
		@include media('<640px'){
			max-width: 90px;
		}
		@include media('<480px'){
			max-width: 90px;
		}
	}
}
.cart__product-content{
	display: flex;
	flex-grow: 1;
	width: calc(100% - 300px);
	align-items: center;
	justify-content: space-around;
	@include media('<1600px'){
		justify-content: space-between;
	}
	@include media('<1060px'){
		display: block;
	}
	@include media('<1200px'){
		width: calc(100% - 200px);
	}
	@include media('<768px'){
		width: calc(100% - 140px);
	}
	@include media('<640px'){
		width: calc(100% - 120px);
	}
	@include media('<480px'){
		width: calc(100% - 100px);
	}
}
.cart__product-remove{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: all 300ms linear;
	text-decoration: none;
	cursor: pointer;
	&:hover{
		span{
			color: $color__primary;
		}
	}
	span{
		font-size: 17px;
		font-weight: 400;
		color: rgba($color__primary, .8);
		@include media('<640px'){
			font-size: 10px;
		}
	}
	i{
		margin-left: 8px;
	}
}
.cart__product-info{
	display: flex;
	flex-direction: column;
	flex-basis: 400px;
	padding: 0 14px;
	@include media('<1060px'){
		display: block;
		margin-bottom: 16px;
	}
}
.cart__product-title{
	margin: 0 0 16px;
	line-height: 21px;
}
.cart__product-title-name{
	font-size: 36px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 0.29px;
	color: $color__primary;
	@include media('<640px'){
		font-size: 14px;
	}
}
.cart__product-title-model{
	font-size: 30px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 0.24px;
	color: #38373a;
	@include media('<640px'){
		font-size: 12px;
	}
}
.cart__product-details{
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.16px;
	color: #6f6e72;
	@include media('<640px'){
		font-size: 10px;
		line-height: 16px;
	}
}
.cart__product-qty{
	@include media('<1200px'){
		.qty__minus{
			display: none;
		}
		.qty__plus .icon{
			@include sprite('multy');
		}
	}
	@include media('<1060px'){
		float: left;
	}
	@include media('<640px'){
		.qty__value{
			width: 30px;
			height: 30px;
			padding: 0;
			font-size: 18px;
			line-height: 28px;
		}
	}
	@include media('<480px'){
		.qty__value{
			margin-right: 10px;
		}
		.qty__plus {
			padding-right: 10px;
			width: auto;
		}
	}
}
.cart__product-price{
	display: flex;
	align-items: center;
	font-weight: 400;
	color: #000000;
	@include media('<1060px'){
		float: left;
		line-height: 41px;
	}
	@include media('<640px'){
		line-height: 30px;
	}
}
.cart__product-price-value{
	font-size: 36px;
	font-weight: 300;
	@include media('<640px'){
		font-size: 18px;
	}
}
.cart__product-price-currency{
	margin-left: 15px;
	font-size: 14px;
	@include media('<640px'){
		margin-left: 8px;
		font-size: 12px;
	}
}
.cart__product-total{
	display: flex;
	align-items: center;
	font-weight: 400;
	color: #000000;
	@include media('<1600px'){
		display: none;
	}
}
.cart__product-total-value {
	font-size: 60px;
}
.cart__product-total-currency{
	margin-left: 15px;
	font-size: 22px;
	color: #38373c;
}
.cart__total{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	@include media('<768px'){
		display: none;
	}
}
.cart__total-item{
	margin-bottom: 70px;
	@include media('<1200px'){
		margin-bottom: 40px;
	}
}
.cart__total-sum {
	display: flex;
	font-size: 30px;
	font-weight: 700;
	font-variant: small-caps;
	line-height: 48px;
	color: #000000;
	@include media('<1200px'){
		font-size: 21px;
		line-height: 36px;
	}
	span{
		min-width: 140px;
		@include media('<1200px'){
			min-width: 100px;
		}
	}
}
.cart__total-discount {
	display: flex;
	font-size: 30px;
	line-height: 48px;
	font-weight: 400;
	color: #000000;
	@include media('<1200px'){
		font-size: 21px;
		line-height: 36px;
	}
	span{
		min-width: 120px;
		@include media('<1200px'){
			min-width: 90px;
		}
	}
}
.cart__total-value{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	color: #000000;
}
.cart__total-value-text{
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.61px;
	@include media('<1200px'){
		font-size: 21px;
	}
}
.cart__total-value-num{
	margin: 0 50px 0 80px;
	font-size: 80px;
	font-weight: 900;
	@include media('<1200px'){
		font-size: 36px;
		margin: 0 25px;
	}
}
.cart__total-value-currency{
	font-size: 36px;
	font-weight: 400;
	@include media('<1200px'){
		font-size: 24px;
		line-height: 36px;
	}
}

.cart__action{
	display: flex;
	justify-content: space-between;
	@include media('<768px'){
		flex-direction: column;
		align-items: center;
	}
	@include media('<=480px'){
		display: block;
	}
}
.cart__action-item{
	margin-bottom: 50px;
	
	@include media('<1200px'){
		max-width: 350px;
		margin: 0 auto;
		margin-bottom: 25px;
		.btn{
			display: block;
			padding: 14px 42px;
			font-size: 21px;
			line-height: 30px;
		}
	}
	@include media('<768px'){
		.btn{
			text-transform: none;
			padding: 14px 36px;
		}
	}
}