.categories-menu{
	position: relative;
	margin: 0;
	padding: 0;
}
.categories-menu__list{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: space-between;
}
.categories-menu__item{
	align-self: center;
	margin-right: 75px;
	&:last-child{
		margin-right: 0;
	}
}
.categories-menu__link{
	display: block;
    padding: 40px 0;
	font-size: 15px;
	font-weight: 900;
	line-height: 21px;
	text-transform: uppercase;
	text-decoration: none;
	color: #484a4c;
	letter-spacing: 0.75px;
}

.categories-menu__dropdown{
	position: absolute;
	top: 100%; left: 0; right: 0;
	padding: 40px 50px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 36px 40px rgba(0, 0, 0, 0.47);
	visibility: hidden;
	opacity: 0;
  transform: translateY(-8px);
  transition: 0.3s all ease-in-out 0s, 0s visibility linear 0.3s;
	z-index: -1;

	.categories-menu__item:hover &{
		position: absolute;
		display: block;
		visibility: visible;
		opacity: 1;
		z-index: 300;
		transform: translateY(0);
		transition-delay: 0s, 0s, 0.3s;
	}

	&:after{
		content: '';
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		background-image: linear-gradient(to right, rgba(#ffffff, .9) 0%, rgba(#ffffff, .65) 40%, rgba(#ffffff, 0) 60%)
	}
	&:before{
		content: '';
		position: absolute;
		left: 10px; right: 10px; top: 10px; bottom: 10px;
		border: 1px solid #eeeeee;
	}
}
.categories-menu__dropdown-inner{
	position: relative;
	z-index: 300;
}
.categories-menu__dropdown-title{
	position: absolute;
	right: 10px; top: 47px;
	z-index: 300;
	min-width: 320px;
	padding: 20px;
	background-color: #004c93;
	font-size: 32px;
	font-weight: 800;
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: 0.52px;
	text-align: right;
	color: #ffffff;
}
.categories-menu__sublist{
	width: percentage(1/3);
	margin: 0; padding: 0;
	list-style: none;
	&.level-2{
		position: absolute;
		left: percentage(1/3);
		top: 0; bottom: 0;
		visibility: hidden;
		opacity: 0;
		transform: translateX(-30%);
		transition: 0.3s all ease-in-out 0s, 0s visibility linear 0.3s;
		z-index: -1;

		.categories-menu__sublist-item:hover &{
			position: absolute;
			display: block;
			visibility: visible;
			opacity: 1;
			z-index: 300;
			transform: translateX(0);
			transition-delay: 0s, 0s, 0.3s;
		}
	}
}
.categories-menu__sublist-item{
	padding: 8px 0;
}
.categories-menu__sublist-link{
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #484a4c;

	.level-2 &{
		text-transform: none;
		color: #484a4c;
	}
}