.category-panel{
	display: flex;
	padding: 22px 25px;
	margin-bottom: 55px;
	justify-content: space-between;
	align-items: center;
	border-radius: 3px;
	background-color: rgba(#ffffff, .8);
	@include media('<992px'){
		margin-bottom: 20px;
	}
}
.category-panel__filter{
	display: flex;
	width: calc(100% - 200px);
	@include media('<660px'){
		display: none;
	}
}
.category-panel__filter-reset{
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-decoration: underline;
	color: $color__primary;
	cursor: pointer;
}
.category-panel__filter-items{
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	width: calc(100% - 100px);
	margin-right: 30px;
}
.category-panel__filter-item{
	flex-shrink: 0;
	position: relative;
	padding-right: 20px;
	margin-right: 30px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
	cursor: pointer;
	&:last-child{
		margin-right: 0;
	}
	&:after{
		content: '';
		position: absolute;
		right: 0; top: 6px;
		@include sprite('close');
	}
}
.category-panel__sort{}