.contacts-block{
	display: flex;
	align-self: flex-start;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 40px 60px;
	background-color: #004c93;

	@include media('<1400px'){
		padding: 40px;
	}
  @include media('<480px'){
    flex-direction: column;
  }
}
.contacts-block__worktime{}
.contacts-block__phones{
  @include media('<480px'){
    margin-bottom: 20px;
	}
}
.contacts-block__phones-item{
	font-size: 24px;
	font-weight: 800;
	line-height: 32px;
	text-transform: uppercase;
	color: #ffffff;
}
.contacts-block__worktime-item{
	display: flex;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: #ffffff;

	strong, span{
		min-width: 60px;
		font-weight: 400;
	}
}