.history{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&.is--reversed{
		flex-direction: row-reverse;
	}
}
.history__photo{
	width: 430px;
	padding-right: 100px;
	flex-shrink: 0;

	img{
		display: block;
		max-width: 100%;
	}
}
.history__content{
	flex-grow: 1;
}
.history__title{
	margin: 0 0 20px;
	font-size: 42px;
	font-weight: 700;
	line-height: 42px;
	color: $color__primary;
}
.history__desc{
	max-width: 55%;
	margin: 0 0 32px;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	font-style: italic;
	color: #000000;
}
.history__text{
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	columns: 3;
	column-gap: 50px;
	color: rgba(#000000, .7);
	p{
		margin: 0 0 16px;
	}
}