.lang-social{
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	max-width: 1720px;
	margin: 0 auto;
}
.lang-social__langs{}
.lang-social__socials{
	display: flex;
	justify-content: flex-end;
}