.map{
	@include media('<992px') {
		width: 600px;
		height: 600px;
	}
	@include media('<768px') {
		width: 480px;
		height: 480px;
	}
	@include media('<640px') {
		width: 320px;
		height: 320px;
	}
	@include media('<480px') {
		width: 280px;
		height: 320px;
	}
}