.media-card{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.media-card__photo{
	width: calc(100% - 427px);
	@include media('<1200px'){
		display: none;
	}
	&.is--mobile-only{
		display: none;
		@include media('<1200px'){
			display: block;
			width: 100%;
			margin: 0 auto 20px;
			text-align: center;
		}
	}
	img{
		display: block;
		max-width: 100%;
	}
}
.media-card__content{
	display: flex;
	width: 427px;
	padding-right: 27px;
	flex-direction: column;
	justify-content: space-between;
	@include media('<1200px'){
		width: 100%;
		padding: 0;
	}
}
.media-card__title{
	margin: 0 0 20px;
	font-size: 52px;
	font-weight: 800;
	line-height: 52px;
	letter-spacing: 0.44px;
	color: #181d22;
	@include media('<1200px'){
		text-align: center;
	}
	@include media('<800px'){
		font-size: 36px;
		line-height: 42px;
	}
}
.media-card__text{
	margin: 0 0 20px;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	color: rgba(#000000, .7);
	@include media('<800px'){
		font-size: 14px;
		line-height: 24px;
	}
}
.media-card__action{}
.media-card__action-btn{
	display: block;
	padding: 18px;
	border: 3px solid $color__primary;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.45px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: $color__primary;
	@include media('<1200px'){
		max-width: 320px;
		margin: 0 auto;
	}
	@include media('<800px'){
		font-size: 18px;
		line-height: 20px;
	}
}