.orders{}
.orders__action{
	display: flex;
	padding: 50px 0 0;
	justify-content: center;
}
.orders__bonus{
	margin-bottom: 40px;

	&-text{
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		color: #646464;
	}
	&-value{
		display: inline-block;
		margin-left: 3px;
		color: $color__primary;
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
	}
}
.orders__item{
	padding: 35px 25px;
	margin-bottom: 15px;
	background-color: #ffffff;
}
.orders__item-title{
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	color: #646464;
}
.orders__item-date{
	display: inline-block;
	margin-left: 10px;
	font-size: 11px;
	font-weight: 400;
	line-height: 20px;
	color: #cbcbcb;
}
.orders__product{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 15px 0;
	border-bottom: 1px solid #eeeeee;
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 0.3px;
	color: #38373a;
	a{
		text-decoration: none;
	}
	span{
		color: $color__primary;
	}
}
.orders__product-title{
	flex-basis: 23%;
}
.orders__product-qty{}
.orders__product-price{}
.orders__product-bonus{}
.orders__product-total{
	flex-basis: 15%;
	text-align: right;
}