.personal-menu{}
.personal-menu__list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.personal-menu__item{
	display: block;
}
.personal-menu__link{
	display: block;
	padding: 15px 18px;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none;
	color: #aeaeae;
	&.is--current{
		border-radius: 3px;
		background-color: rgba(#fcfcfc, .5);
		font-weight: 700;
		color: $color__primary;
	}
	
	&:hover{
		color: $color__primary;
	}
}