.popup{
	position: relative;
	width: 600px;

	@include media('<768px'){
		width: 100%;
		max-width: 90%;
		margin: 0 auto;
	}
	@include media('<480px'){
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
}
.popup__close{
	position: absolute;
	top: 8px; right: 8px;
	width: 15px; height: 15px;
	font-size: 18px;
	color: $color__primary;
	transition: all 300ms linear;
	cursor: pointer;
	&:after{
		content: '';
		@include sprite('close');
	}
}
.popup__inner{
	padding: 30px 85px 40px;
	background: #fff;
	@include media('<768px'){
		padding: 30px 35px 40px;
	}
}
.popup__header{
	margin-bottom: 15px;
	font-size: 26px;
	font-weight: 800;
	line-height: 28px;
	letter-spacing: 0.74px;
	text-align: center;
	color: #000000;
}
.popup__body{}
.popup__action{
	margin-bottom: 15px;
	.btn {
		display: block;
		width: 100%;
		padding: 9px 31px;
		border: 2px solid #004c93;
		font-size: 16px;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: 0.46px;
		text-transform: none;
		text-align: center;
		color: #004c93;

		&:hover{
			color: #fff;
		}
	}
}

.popup__form-row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;

	.popup__form-field{
		padding-left: 30px;
		&.with-icon{
			i {
				position: absolute;
				bottom: 8px; left: 30px;
			}
			.popup__form-input{
				padding-left: 45px;
			}
		}
	}
	&.is--col-2{
		.popup__form-field{
			width: 50%;

			@include media('<768px'){
				width: 100%;
			}
		}
	}
}
.popup__form-field {
  position: relative;
  width: 100%;
	margin-bottom: 30px;
	
  &.is--required {
    &:after {
      content: '*';
      position: absolute;
      top: 5px;
      right: 8px;
			z-index: 10;
			font-size: 18px;
			line-height: 30px;
			color: #ec0202;
    }
  }
  &.mb-10{
    margin-bottom: 10px;
  }
}

.popup__form-label{
  display: block;
  position: absolute;
  bottom: 6px;
  left: 30px; right: 0;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #808080;
  pointer-events: none;
  transition:  all 300ms linear;

	.with-icon & {
		left: 75px;
	}
  &.is--active{
    font-size: 14px;
    line-height: 14px;
    bottom: 22px;
		color: #1866b1;
  }
}
.popup__form-input{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0 0 0;
  outline: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #484848;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  transition:  all 300ms linear;
  &.error {
    border-color: #ec0202;
    color: #ec0202;
  }
  &:hover,
  &:focus {
		outline: none;
		border: none;
		border-bottom: 1px solid #004c93;
		color: #000000;
  }
}

.popup__links{
	display: flex;
	justify-content: space-between;
	@include media('<768px'){
		flex-wrap: wrap;
	}

	a{
		font-size: 14px;
		line-height: 28px;
		letter-spacing: 0.4px;
		text-decoration: none;
		color: #808080;
		@include media('<768px'){
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	&.is--bigger a{
		font-size: 14px;
		font-weight: 800;
		line-height: 28px;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		color: #010101;
	}
}
.popup__links-separate{
	position: relative;
	padding: 0 0 15px;
	text-align: center;
	&:before{
		content: '';
		position: absolute;
		top: 13px;
		left: 0; right: 0;
		height: 1px;
		background-color: #808080;
	}
	span {
		position: relative;
		display: inline-block;
		padding: 0 21px;
		background: #fff;
		font-size: 14px;
		line-height: 28px;
		letter-spacing: 0.4px;
		color: #000000;
		z-index: 20;
	}
}