.widget{
	margin: 0 0 60px;
}
.widget__header{
	margin: 0 0 35px;
	padding-left: 15px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
	text-transform: uppercase;
	color: $color__primary;
}
.widget__body{}