form(action="").personal-block__form
	.personal-block__form-field.is--active
		label.personal-block__form-label Старый пароль
		input(type="password", name="password").personal-block__form-input
		button(type="submit").personal-block__form-action Изменить
	.personal-block__form-field.is--active
		label.personal-block__form-label Новый пароль
		input(type="password", name="new_password").personal-block__form-input
		button(type="submit").personal-block__form-action Изменить
	.personal-block__form-field.is--active
		label.personal-block__form-label Потверждение пароля
		input(type="password", name="confirm_password").personal-block__form-input
		button(type="submit").personal-block__form-action Изменить
	.personal-block__action
		a(href="").personal-block__action-link Восстановить пароль
		a(href="").personal-block__action-btn Сохранить





