form(action="").personal-block__form
	.personal-block__form-field
		label.personal-block__form-label ФИО
		input(type="text", name="name", value="Иванова Наталья Викторовна").personal-block__form-input
		button(type="submit").personal-block__form-action Изменить
	.personal-block__form-field
		label.personal-block__form-label Email
		input(type="email", name="email", value="client@gmail.com").personal-block__form-input
		button(type="submit").personal-block__form-action Изменить
	.personal-block__form-field
		label.personal-block__form-label Телефон
		input(type="text", name="phone", value="+38 (099) 555 44 33").personal-block__form-input
		button(type="submit").personal-block__form-action Изменить
	.personal-block__form-field
		label.personal-block__form-label Адрес доставки
		textarea(name="address", cols="30", rows="10").personal-block__form-input
			| Ивано - Франковска обл., г. Ивано-Франковск ул. Победы красной армии в Воронеже,  дом. 459 К, 3 корпус, кв. 543
		button(type="submit").personal-block__form-action Изменить
	.personal-block__action.is--mobile-only
		button(type="submit").personal-block__action-btn Сохранить




