extends pug/base

append vars
  - html.classList.push('page page--news')

block content
  section.section.section--news
    .container
      .page__header
        .page__breadcrumbs
          -var breadcrumbs = ['Главная', 'О нас'];
          include pug/parts/breadcrumbs
      .page__inner
        main.page__content
          article.about-us
            .about-us__inner
              .about-us__photo
                h1.about-us__title 
                  | О нас
                img(src="images/about.png", alt="")
              .about-us__content
                p
                  | Когда Джесси Швейдер основал Самсонита в 1910 году, раннее путешествие было зарезервировано только для немногих, тех, у кого были средства видеть мир. Как один из оригинальных брендов в путешествиях, Samsonite продолжает выявлять тенденции и интерпретировать потребности путешественников, чтобы вносить инновации и новые идеи в путешествия, воспламенять сложный и особый опыт прошлого.
                blockquote
                  | Сегодня Samsonite продолжает вести категорию багажа с теми же основными принципами, расширяя мировоззрение Shwayder во всем мире с дизайном и инновациями в категории товаров и потребительские цели. Саммит Samsonite - «Life's Journey» - воплощает трансформацию бренда и будущее, символизируя роль Самсонита в многогранной жизни путешественников.
                p
                  | Интернет-магазин чемоданов Samsonite работает на рынке Украины с 2007 года и предлагает продукцию мирового лидера по производству товаров для путешествий – Samsonite. Наша задача предоставить профессиональную консультацию при выборе чемоданов, дорожных сумок, портпледов, рюкзаков и других аксессуаров для путешествий. Мы стремимся быстро обновлять наш каталог, чтобы Вы смогли увидеть самые последние новинки от Samsonite и American Tourister. 
                p
                  | Каждая единица товара в нашем Интернет-магазине сертифицирована и продается совместно с гарантийным талоном на определенный срок. В случае поломки Вы сможете обратиться в сервисный центр, где Вам произведут бесплатный ремонт (если поломка произошла по вине производителя)
          
          section.section.section--history
            .container
              .history.is--reversed
                .history__content
                  h3.history__title
                    | История Samsonite
                  p.history__desc
                    | Группа samsonite является одним из крупнейших и признанных в мире дизайнеров и дистрибьюторов в индустрии багажа.
                  .history__text
                    p Обладая богатым наследием, которое включает почти столетие в бизнесе, лозунг Samsonite - «Life's Journey» - воплощает веру и видение бренда, символизируя роль Самсонита в многогранной жизни путешественников.
                    p Марка Самсонита родилась в 1910 году, когда основатель Джесси Швейдер начал производить багаж для путешественников из разных стран, которые оценили уникальные, долговечные и тонко обработанные продукты Компании. По мере того, как путешествие превратилось в основную деятельность, Самсонит продолжал придумывать строку «первых», включая первые подходящие багажные наборы, первый легкий багаж и первые колесные чемоданы. Способность Самсонита воспринимать и адаптироваться к меняющимся потребностям путешественников сделала бренд ведущим авторитетом для людей в движении на протяжении многих лет.
                    p Сегодня мировая индустрия путешествий продолжает расти, так как Samsonite ведет инновационные технологии, материалы и концептуальные концепции, которые воплощают те же ценности, на которых основывался Samsonite - высокое качество, тонкое мастерство, исключительная надежность и прочный стиль.
                .history__photo
                  img(src="images/about/a-1.png", alt="")
          
          section.section.section--shops
            .container
              .media-card
                .media-card__content
                  h3.media-card__title
                    | Магазины
                  p.media-card__text
                    | Сегодня мировая индустрия путешествий продолжает расти, так как Samsonite ведет инновационные технологии, материалы и концептуальные концепции, которые воплощают те же ценности, на которых основывался Samsonite - высокое качество, тонкое мастерство, исключительная надежность и прочный стиль.
                  .media-card__action
                    a(href="").media-card__action-btn
                      | Найти магазин
                .media-card__photo
                  img(src="images/about/a-2.png", alt="")
block body-end