extends pug/base

append vars
  - html.classList.push('page page--change-password')

block content
  section.page__inner
    main.page__content
      //- HEADER
      -var breadcrumbs = ['Главная', 'Изменить пароль'];
      include pug/parts/breadcrumbs
      h1.page__header Изменить пароль
      
      .page__body
        form(action="").form
          .form__field
            label.form__label Новый пароль
            input.form__input(type="password", name="new_password")
          .form__field
            label.form__label Повторите пароль
            input.form__input(type="password", name="new_password_confirm")
          .form__action
            input(type="submit", value="Сохранить").btn.btn--primary

    aside.page__sidebar.sidebar
        //- Personal Menu
        -var linkID = 1;
        include pug/parts/personal-menu

block body-end