extends pug/base

append vars
  - body.classList.push('page page--checkout')

block content
  section.section
    h1.section__title.is--large.is--centered
      | Контактные данные
    .checkout
      .checkout__user-form
        form(action="").form.js--contacts-form
          .form__row.is--col-3
            .form__field
              input.form__input(type="text", name="name", placeholder="Имя")
            .form__field
              input.form__input(type="text", name="sname", placeholder="Фамилия")
            .form__field
              input.form__input(type="text", name="mname", placeholder="Отчество")
          .form__row.is--col-3.is--last-empty
            .form__field
              input.form__input(type="text", name="email", placeholder="Email")
            .form__field
              input.form__input(type="text", name="phone", placeholder="Телефон")
            .form__field
          .form__row
            .form__field
              textarea(name="msg", cols="30", rows="10", placeholder="Комментарий").form__textarea
          .form__row.is--flex-end
            .form__action
              input(type="submit", value="отправить сообщение").btn.btn--secondary
      .checkout__login-form

block body-end