extends pug/base

append vars
  - html.classList.push('page page--news')

block content
  section.section.section--news
    .container
      .page__header
        .page__breadcrumbs
          -var breadcrumbs = ['Главная', '10 лайфхаков как правильно паковатьсвой чемодан'];
          include pug/parts/breadcrumbs
      .page__inner
        main.page__content
          article.article-single
            .article-single__inner
              .article-single__photo
                img(src="images/news.png", alt="")
              .article-single__content
                h1.article-single__title 
                  | 10 лайфхаков как правильно паковатьсвой чемодан
                p
                  | Когда Джесси Швейдер основал Самсонита в 1910 году, раннее путешествие было зарезервировано только для немногих, тех, у кого были средства видеть мир. Как один из оригинальных брендов в путешествиях, Samsonite продолжает выявлять тенденции и интерпретировать потребности путешественников, чтобы вносить инновации и новые идеи в путешествия, воспламенять сложный и особый опыт прошлого.
                blockquote
                  | Сегодня Samsonite продолжает вести категорию багажа с теми же основными принципами, расширяя мировоззрение Shwayder во всем мире с дизайном и инновациями в категории товаров и потребительские цели. Саммит Samsonite - «Life's Journey» - воплощает трансформацию бренда и будущее, символизируя роль Самсонита в многогранной жизни путешественников.
                p
                  | Интернет-магазин чемоданов Samsonite работает на рынке Украины с 2007 года и предлагает продукцию мирового лидера по производству товаров для путешествий – Samsonite. Наша задача предоставить профессиональную консультацию при выборе чемоданов, дорожных сумок, портпледов, рюкзаков и других аксессуаров для путешествий. Мы стремимся быстро обновлять наш каталог, чтобы Вы смогли увидеть самые последние новинки от Samsonite и American Tourister. 
                p
                  | Каждая единица товара в нашем Интернет-магазине сертифицирована и продается совместно с гарантийным талоном на определенный срок. В случае поломки Вы сможете обратиться в сервисный центр, где Вам произведут бесплатный ремонт (если поломка произошла по вине производителя)
          
          section.section.section--recommend-news
            include pug/parts/recommend-news
block body-end