extends pug/base

append vars
  - body.classList.push('page page--personal-data')

block content
  section.section.section--personal
    .container
      .page__header
        .page__breadcrumbs
          -var breadcrumbs = ['Главная', 'Личный кабинет'];
          include pug/parts/breadcrumbs
        h1.page__title Личный кабинет
      .page__inner
        main.page__content
          .page__body
            .personal-block
              .personal-block__header Персональные данные
              .personal-block__body
                include pug/personal/data
        aside.page__sidebar.sidebar.is--no-padding
          //- Personal Menu
          -var linkID = 0;
          include pug/personal/menu

block body-end
  script.
    (function() {
      $('.personal-block__form-action').on('click', function(event) {
        event.preventDefault();
        var btnText = $(this).text();
        var $parent = $(this).parent();

        // Меняем активное состояние у текущего поля формы
        $parent.toggleClass('is--active')
          .find('.personal-block__form-input').attr('disabled', function(index, attr) {
              return attr == 'disabled' ? false : true;
          });
        
        // Меняем текст кнопки
        $(this).text((btnText === 'Изменить')?'Сохранить':'Изменить');
      });

      // Переключаем активное состояние в зависимости от ширины
      if (matchMedia) {
        function checkMatches(){
          var mq = window.matchMedia( "(max-width: 1099px)" );

          if (mq.matches) {
            $('.personal-block__form-input').removeAttr('disabled').parent().addClass('is--active');
          } else {
            $('.personal-block__form-input').attr('disabled', true).parent().removeClass('is--active');
          }
        }

        $(window).on('load resize', checkMatches);
      }
    })();
