$sprites: (
	"arrow-down": (
		normal: (
			x: 148,
			y: 123,
			width: 12,
			height: 5,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 246,
			width: 24,
			height: 10,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"arrow-left": (
		normal: (
			x: 148,
			y: 85,
			width: 9,
			height: 14,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 170,
			width: 18,
			height: 28,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"arrow-right": (
		normal: (
			x: 148,
			y: 69,
			width: 9,
			height: 14,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 138,
			width: 18,
			height: 28,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"arrow-up": (
		normal: (
			x: 148,
			y: 47,
			width: 17,
			height: 9,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 94,
			width: 34,
			height: 18,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"cart": (
		normal: (
			x: 81,
			y: 61,
			width: 27,
			height: 23,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 162,
			y: 122,
			width: 54,
			height: 46,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"client": (
		normal: (
			x: 0,
			y: 61,
			width: 25,
			height: 33,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 0,
			y: 122,
			width: 50,
			height: 66,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"close": (
		normal: (
			x: 148,
			y: 112,
			width: 9,
			height: 9,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 224,
			width: 18,
			height: 18,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"color-check": (
		normal: (
			x: 148,
			y: 19,
			width: 17,
			height: 11,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 38,
			width: 34,
			height: 22,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"color-remove": (
		normal: (
			x: 148,
			y: 0,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 0,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"heart-alt": (
		normal: (
			x: 94,
			y: 96,
			width: 23,
			height: 21,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 188,
			y: 192,
			width: 46,
			height: 42,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"heart-grey": (
		normal: (
			x: 69,
			y: 96,
			width: 23,
			height: 21,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 138,
			y: 192,
			width: 46,
			height: 42,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"heart": (
		normal: (
			x: 44,
			y: 96,
			width: 23,
			height: 21,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 88,
			y: 192,
			width: 46,
			height: 42,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"location": (
		normal: (
			x: 92,
			y: 0,
			width: 26,
			height: 38,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 184,
			y: 0,
			width: 52,
			height: 76,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"locked": (
		normal: (
			x: 27,
			y: 61,
			width: 24,
			height: 29,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 54,
			y: 122,
			width: 48,
			height: 58,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"minus": (
		normal: (
			x: 120,
			y: 85,
			width: 26,
			height: 2,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 240,
			y: 170,
			width: 52,
			height: 4,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"multy": (
		normal: (
			x: 139,
			y: 50,
			width: 7,
			height: 8,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 278,
			y: 100,
			width: 14,
			height: 16,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"next-down": (
		normal: (
			x: 148,
			y: 101,
			width: 14,
			height: 9,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 202,
			width: 28,
			height: 18,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"next-right": (
		normal: (
			x: 120,
			y: 50,
			width: 17,
			height: 33,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 240,
			y: 100,
			width: 34,
			height: 66,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"phone": (
		normal: (
			x: 59,
			y: 0,
			width: 31,
			height: 32,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 118,
			y: 0,
			width: 62,
			height: 64,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"plus": (
		normal: (
			x: 53,
			y: 61,
			width: 26,
			height: 26,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 106,
			y: 122,
			width: 52,
			height: 52,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"prev-left": (
		normal: (
			x: 0,
			y: 96,
			width: 17,
			height: 33,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 0,
			y: 192,
			width: 34,
			height: 66,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"prev-up": (
		normal: (
			x: 148,
			y: 58,
			width: 14,
			height: 9,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 116,
			width: 28,
			height: 18,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"product-cart-alt": (
		normal: (
			x: 120,
			y: 0,
			width: 26,
			height: 23,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 240,
			y: 0,
			width: 52,
			height: 46,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"product-cart": (
		normal: (
			x: 120,
			y: 25,
			width: 26,
			height: 23,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 240,
			y: 50,
			width: 52,
			height: 46,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"product-compare-alt": (
		normal: (
			x: 92,
			y: 40,
			width: 21,
			height: 18,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 184,
			y: 80,
			width: 42,
			height: 36,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"product-compare": (
		normal: (
			x: 119,
			y: 96,
			width: 21,
			height: 18,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 238,
			y: 192,
			width: 42,
			height: 36,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"remove": (
		normal: (
			x: 148,
			y: 32,
			width: 13,
			height: 13,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 296,
			y: 64,
			width: 26,
			height: 26,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"search-lg": (
		normal: (
			x: 0,
			y: 0,
			width: 57,
			height: 59,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 0,
			y: 0,
			width: 114,
			height: 118,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"search": (
		normal: (
			x: 59,
			y: 34,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 118,
			y: 68,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
	"user": (
		normal: (
			x: 19,
			y: 96,
			width: 23,
			height: 23,
			image: "sprites.png",
			total_width: 165,
			total_height: 129,
		),
		retina: (
			x: 38,
			y: 192,
			width: 46,
			height: 46,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 258,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
