$sprites: (
	"arrow-left": (
		normal: (
			x: 11,
			y: 77,
			width: 9,
			height: 14,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 22,
			y: 154,
			width: 18,
			height: 28,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"arrow-right": (
		normal: (
			x: 0,
			y: 77,
			width: 9,
			height: 14,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 0,
			y: 154,
			width: 18,
			height: 28,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"arrow-up": (
		normal: (
			x: 75,
			y: 35,
			width: 17,
			height: 9,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 150,
			y: 70,
			width: 34,
			height: 18,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"cart": (
		normal: (
			x: 27,
			y: 0,
			width: 27,
			height: 23,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 54,
			y: 0,
			width: 54,
			height: 46,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"color-check": (
		normal: (
			x: 94,
			y: 59,
			width: 17,
			height: 11,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 188,
			y: 118,
			width: 34,
			height: 22,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"color-remove": (
		normal: (
			x: 94,
			y: 40,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 188,
			y: 80,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"heart-alt": (
		normal: (
			x: 50,
			y: 52,
			width: 23,
			height: 21,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 100,
			y: 104,
			width: 46,
			height: 42,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"heart": (
		normal: (
			x: 25,
			y: 52,
			width: 23,
			height: 21,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 50,
			y: 104,
			width: 46,
			height: 42,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"next-down": (
		normal: (
			x: 56,
			y: 35,
			width: 14,
			height: 9,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 112,
			y: 70,
			width: 28,
			height: 18,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"next-right": (
		normal: (
			x: 56,
			y: 0,
			width: 17,
			height: 33,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 112,
			y: 0,
			width: 34,
			height: 66,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"prev-left": (
		normal: (
			x: 75,
			y: 0,
			width: 17,
			height: 33,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 150,
			y: 0,
			width: 34,
			height: 66,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"prev-up": (
		normal: (
			x: 75,
			y: 52,
			width: 14,
			height: 9,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 150,
			y: 104,
			width: 28,
			height: 18,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"product-cart-alt": (
		normal: (
			x: 28,
			y: 27,
			width: 26,
			height: 23,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 56,
			y: 54,
			width: 52,
			height: 46,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"product-cart": (
		normal: (
			x: 0,
			y: 27,
			width: 26,
			height: 23,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 0,
			y: 54,
			width: 52,
			height: 46,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"product-compare-alt": (
		normal: (
			x: 94,
			y: 20,
			width: 21,
			height: 18,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 188,
			y: 40,
			width: 42,
			height: 36,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"product-compare": (
		normal: (
			x: 94,
			y: 0,
			width: 21,
			height: 18,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 188,
			y: 0,
			width: 42,
			height: 36,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"search": (
		normal: (
			x: 0,
			y: 0,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 0,
			y: 0,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
	"user": (
		normal: (
			x: 0,
			y: 52,
			width: 23,
			height: 23,
			image: "sprites.png",
			total_width: 115,
			total_height: 91,
		),
		retina: (
			x: 0,
			y: 104,
			width: 46,
			height: 46,
			image: "sprites@2x.png",
			total_width: 230,
			total_height: 182,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
