$sprites: (
	"arrow-down": (
		normal: (
			x: 92,
			y: 65,
			width: 12,
			height: 5,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 184,
			y: 130,
			width: 24,
			height: 10,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"arrow-left": (
		normal: (
			x: 122,
			y: 78,
			width: 9,
			height: 14,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 244,
			y: 156,
			width: 18,
			height: 28,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"arrow-right": (
		normal: (
			x: 111,
			y: 78,
			width: 9,
			height: 14,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 222,
			y: 156,
			width: 18,
			height: 28,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"arrow-up": (
		normal: (
			x: 111,
			y: 67,
			width: 17,
			height: 9,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 222,
			y: 134,
			width: 34,
			height: 18,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"cart": (
		normal: (
			x: 0,
			y: 40,
			width: 27,
			height: 23,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 0,
			y: 80,
			width: 54,
			height: 46,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"close": (
		normal: (
			x: 72,
			y: 27,
			width: 9,
			height: 9,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 144,
			y: 54,
			width: 18,
			height: 18,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"color-check": (
		normal: (
			x: 111,
			y: 39,
			width: 17,
			height: 11,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 222,
			y: 78,
			width: 34,
			height: 22,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"color-remove": (
		normal: (
			x: 111,
			y: 20,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 222,
			y: 40,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"heart-alt": (
		normal: (
			x: 44,
			y: 65,
			width: 23,
			height: 21,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 88,
			y: 130,
			width: 46,
			height: 42,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"heart": (
		normal: (
			x: 19,
			y: 65,
			width: 23,
			height: 21,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 38,
			y: 130,
			width: 46,
			height: 42,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"location": (
		normal: (
			x: 0,
			y: 0,
			width: 26,
			height: 38,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 0,
			y: 0,
			width: 52,
			height: 76,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"minus": (
		normal: (
			x: 83,
			y: 60,
			width: 26,
			height: 2,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 166,
			y: 120,
			width: 52,
			height: 4,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"multy": (
		normal: (
			x: 102,
			y: 25,
			width: 7,
			height: 8,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 204,
			y: 50,
			width: 14,
			height: 16,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"next-down": (
		normal: (
			x: 56,
			y: 27,
			width: 14,
			height: 9,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 112,
			y: 54,
			width: 28,
			height: 18,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"next-right": (
		normal: (
			x: 0,
			y: 65,
			width: 17,
			height: 33,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 0,
			y: 130,
			width: 34,
			height: 66,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"plus": (
		normal: (
			x: 28,
			y: 0,
			width: 26,
			height: 26,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 56,
			y: 0,
			width: 52,
			height: 52,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"prev-left": (
		normal: (
			x: 83,
			y: 25,
			width: 17,
			height: 33,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 166,
			y: 50,
			width: 34,
			height: 66,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"prev-up": (
		normal: (
			x: 28,
			y: 28,
			width: 14,
			height: 9,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 56,
			y: 56,
			width: 28,
			height: 18,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"product-cart-alt": (
		normal: (
			x: 83,
			y: 0,
			width: 26,
			height: 23,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 166,
			y: 0,
			width: 52,
			height: 46,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"product-cart": (
		normal: (
			x: 29,
			y: 40,
			width: 26,
			height: 23,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 58,
			y: 80,
			width: 52,
			height: 46,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"product-compare-alt": (
		normal: (
			x: 111,
			y: 0,
			width: 21,
			height: 18,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 222,
			y: 0,
			width: 42,
			height: 36,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"product-compare": (
		normal: (
			x: 69,
			y: 65,
			width: 21,
			height: 18,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 138,
			y: 130,
			width: 42,
			height: 36,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"remove": (
		normal: (
			x: 111,
			y: 52,
			width: 13,
			height: 13,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 222,
			y: 104,
			width: 26,
			height: 26,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"search": (
		normal: (
			x: 56,
			y: 0,
			width: 25,
			height: 25,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 112,
			y: 0,
			width: 50,
			height: 50,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
	"user": (
		normal: (
			x: 57,
			y: 40,
			width: 23,
			height: 23,
			image: "sprites.png",
			total_width: 132,
			total_height: 98,
		),
		retina: (
			x: 114,
			y: 80,
			width: 46,
			height: 46,
			image: "sprites@2x.png",
			total_width: 264,
			total_height: 196,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
